h1 {
    font-weight: normal;
}

.dark-theme .brand-logo text {
    fill: #a9a9b3;
}

.dark-theme .brand-logo circle {
    stroke: #a9a9b3;
}

.logo__cursor {
    background: #1080f2;
}

@media (max-width: 684px) {
    body .content {
        margin-top: 50px;
    }
}
