h1 {
    font-weight: normal;
}

.logo__cursor {
    background: #1080f2;
}

.typewrite {
    border-right: 0.08em solid #222;
}

html[dark-theme~="dark"] .typewrite {
    border-right-color: #a9a9b3;
}

html[dark-theme~="dark"] .brand-logo text {
    fill: #a9a9b3;
}

html[dark-theme~="dark"] .brand-logo circle {
    stroke: #a9a9b3;
}

@media (max-width: 684px) {
    body .content {
        margin-top: 50px;
    }
}
